.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

img {
    max-width: 100%;
    display: block;
}

.stormy {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-storm.jpg');
}

.clear-night {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-clear-night.jpg');
}

.cloudy {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-cloudy.jpg');
}

.snowy {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-snow.jpg');
}

.rainy {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-rain.jpg');
}

.sunny {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-mob-sunny.jpg');
}

.default {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.295)), url('../photos/bkg-sunny.jpg');
}


.default,
.sunny,
.snowy,
.rainy,
.cloudy,
.clear-night,
.stormy {
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    padding:  0 1rem;
    overflow: auto;
    max-width: 100%;
}

.App {
    max-width: 750px;
    margin: auto auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.781);
}



header {
    min-width: 100%;
}

header fieldset {
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


legend {
    color: transparent;
}

.input-container {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
}

.city-search {
    max-width: 18ch;
    font-size: 1.1rem;
    padding: 5px;
    margin-top: 0px;
    border-radius: 10px;
    height: 2.2rem;
    font-family: inherit;
    border: none;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.644)
}

.state-search {
    background-color: rgba(255, 255, 255, 0.575);
    outline: none;
    padding: 0 .1em 0 0;
    margin: 0;
    width: 4rem;
    height: 2.2rem;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.644);
}

.btn-search {
    margin: .5em auto;
    font-size: 1.1rem;
    font-family: inherit;
    padding: .2rem 1.2em;
    background-color: rgba(173, 173, 173, 0.336);
    border: 1px solid rgba(0, 0, 0, 0.596);
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.644);
    cursor: pointer;
}

.btn-search:focus,
.btn-search:hover {
    background-color: rgba(114, 114, 114, 0.479);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.733);
    outline: none;
}

main {
    display: block;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    margin: 1rem 0;
    padding: .5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.445);
    max-height: 100vh;
    overflow: auto;
    position: relative;
}

.gear-img-wrapper {
    background-color: transparent;
    border: transparent;
    width: 10%;
    max-width: 3rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.gear-img-wrapper:hover,
.gear-img-wrapper:focus {
    border: transparent;
    outline: none;
    transform: rotate(45deg);
}

.settings-modal {
    outline: black solid 1px;
    position: absolute;
    padding: 10px;
    left: 10rem;
    height: 10rem;
    width: 10rem;
    background-color: rgb(163, 129, 129);
}


.error {
    text-align: center;
    width: 80%;
    margin: auto auto;
    line-height: 2em;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}


.location {
    display: flex;
    justify-content: center;
}
.location > h2 {
    padding: 1rem 0;
}
.sec-1 {
    padding: 1rem 0;
}

.sub-temps {
    display: flex;
    justify-content: space-evenly;
}

.curr-temp {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curr-temp > h2 {
    margin: .25em 0;
    font-size: 3rem;
    font-weight: 400;
}

.sec-2 {
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: space-evenly;
}

.sec-2-2 {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.sec-2 > div,
.sec-3 > div {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 3.5rem;
    min-width: 5rem;
}


.sec-3 {
    margin: 0 auto 1rem auto;
    display: flex;
    overflow: auto;
}

.icon-wrapper-hourly {
    max-width: 2rem;
}

.sec-4 {
    display: flex;
    flex-direction: column;
    max-height: 10rem;
    overflow: auto;
}

.sec-4 > div {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 3px 5px;
}

.sec-4 > div > * {
    flex-basis: 100%;
}

.icon-wrapper-daily {
    max-width: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    color: white;
}

footer a {
    color: rgb(139, 139, 139);
}